.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache

.idea
.powenv
test/dummy/config/initializers/local_S3.rb

#ignore user dummy app database config
test/dummy/config/database.yml


test/dummy/config/database.yml
test/dummy/config/initializers/local_s3.rb
