<p id="notice"><%= notice %></p>

<h1><span id="page_title"><%= raw @page.title %></span></h1>
<div id="content_section_Body">
  <%= raw @page.content_parts.content_for('Body') %>
</div>
<p><%= link_to "Edit Page", "/editor" + request.path, id: "edit_link", data: {save_url: mercury_update_page_path(@page.id)} %></p>
