<div class="sort_handle">
  <div class="list_item clearfix">
    <div class="list_content">
      <p><b><%= portfolio.title %></b></p>
    </div>
    <p class="list_actions">
      <%= link_to 'Edit', [:edit, :admin, portfolio], :class => 'btn btn-primary btn-small' %>
      <%= link_to 'Delete', [:admin, portfolio], confirm: 'Are you sure?', method: :delete, :class => 'btn btn-danger btn-small' %>
    </p>
  </div>
</div>