<!DOCTYPE html>
<html>
<head>
  <title>Wafflemix</title>
  <%= stylesheet_link_tag    "wafflemix/application", :media => "all" %>
  <%= javascript_include_tag "wafflemix/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
